<%- include ../head%>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Amount</th>
            <th scope="col">Min Spend</th>
            <th scope="col">Expire Date</th>
            <th scope="col">Is percentage</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <%promotions.forEach(promo => {%>
        <tr>
            <form method="post" action="/event/<%=event.id%>/promotion/edit">
                <input name="id" hidden value="<%=promo.id%>">
                <td><input name="code" value="<%=promo.code%>" type="text" required class="form-control no-border"> </td>
                <td><input name="amount" value="<%=promo.amount%>" type="number" required min="0" class="form-control no-border"></td>
                <td><input name="minSpend" value="<%=promo.minSpend%>" type="number" required class="form-control no-border"></td>
                <td><input name="expire" value="<%=promo.expire.toISOString().slice(0,-1)%>"
                           type="datetime-local" required  class="form-control no-border"> </td>
                <td><input name="isPercentage" <%=promo.isPercentage?"checked":""%> type="checkbox" class="form-control no-border"> </td>
                <td><input type="submit" class="btn" value="Save"> </td>
            </form>

        </tr>
        <%})%>
    </tbody>
</table>
<a href="/event/<%=event.id%>/promotion/new%>"><button class="btn">Add Promotion</button></a>
<a href="/event/<%=event.id%>" ><button type="button" class="btn">Back</button></a>
<%-include ../foot%>
