<!doctype html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/twitter/dist/css/bootstrap.css">
    <!-- Fontawesome, jQuery, Popper.js, Bootstrap JS -->
    <script src="/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
    <script src="/jquery/dist/jquery.slim.js"></script>
    <script src="/popper.js/dist/popper-utils.js"></script>
    <script src="/twitter/dist/js/bootstrap.js"></script>
    <script src="/moment/min/moment-with-locales.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <%if(locals.title){%>
        <title><%=title%></title>
    <%} else {%>
        <title>UOW Booking system</title>
    <%}%>
</head>
<body>
<%- include navbar %>
<main role="main" class="container">
    <%if(locals.header){%>
        <h2><%=header%></h2>
    <%}%>
    <div class="row">
       <div class="alert alert-danger col-sm-12 col-md-8 align-center" id="error-div"
           <%=!locals.error || !locals.error.message?"hidden":""%>>
           <%if(locals.error && locals.error.message){%>
             <%= error.message%>
           <%}%>
        </div>
        <div class="alert alert-success col-sm-12 col-md-8 align-center" id="success-div"
            <%=!locals.success || !locals.success.message?"hidden":""%>>
            <%if(locals.success && locals.success.message){%>
                <%= success.message%>
            <%}%>
        </div>
    </div>