<%- include head%>
<form id="statistic" name="statistic" method="get" action="/statistic" class="form-inline">
    <input type="text" name="venture" value="<%=venture%>" placeholder="Venture" class="form-control">

    <label for="startDate">From:</label>
    <input type="date" name="startDate" value="<%=startDate%>" class="form-control">
    <label for="endDate">To:</label>
    <input type="date" name="endDate" value="<%=endDate%>" class="form-control">
    <input type="submit" value="View Stats">
</form>
<p>Number of Events: <%=count%></p>
<p>Total Capacity of All Events: <%=total%></p>
<p>Number of booking: <%=quantity%></p>
<p>Total paid amount: <%=paid%></p>
<%-include foot%>
