<%- include ../head%>
<a href="?showAll=true"><button class="btn">Show All Booked Event</button></a>
<a href="?"><button class="btn">Show Only Upcomming Event</button></a>
<table class="table">
    <tr>
        <th>Event</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Location</th>
        <th>Number of ticket</th>
        <th>Cost</th>
        <th>Discounted</th>
        <th></th>
    </tr>
<%events.forEach(event => {%>
    <%event.Transactions.forEach(transaction => {%>
    <tr>
        <td><a href="/event/<%=event.id%>"><%= event.name%></a> </td>
        <td><%= event.start_time.toLocaleString() %></td>
        <td><%= event.end_time.toLocaleString() %></td>
        <td><%= event.location%></td>
        <td><%=transaction.quantity%></td>
        <td><%=transaction.total%></td>
        <td><%=transaction.discounted%></td>
        <td><a href="/booking/<%=event.id%>/transaction/<%=transaction.id%>">View Transaction</a></td>
    </tr>
    <%})%>
<%})%>
</table>

<%-include ../foot%>
