<%- include ../head%>
Number of ticket: <%= tickets%> <br>
Price: <%= event.price%> <br>
Total: <%= total.toFixed(2)%> <br>
Discount: <%= discount.toFixed(2) %> <br>
Promotion Code: <%= code %> <br>
<form action="/booking/<%=event.id%>" method="get">
    <input name="count" value="<%=tickets%>" hidden>
    <input name="promotion" value="<%= code %>">
    <input class="btn" type="submit" value="Set Promotion Code">
</form>
<form action="/booking/<%=event.id%>" method="post">
    <input name="quantity" value=<%=tickets%> hidden>
    <input name="promotionCode" value="<%=code%>" hidden>
    <%for(var i = 0; i < tickets; i++){%>
        <input name="tickets[<%=i%>][name]" type="text" >
        <input name="tickets[<%=i%>][email]" type="email">
        <input name="tickets[<%=i%>][studentNo]" type="number">
        <br/>
    <%}%>
    <%if(total > discount){%>
        <input type="submit" value="Book" class="stripe-button"/>
    <%} else {%>
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%=locals.publicKey%>"
            data-amount="<%=Math.round((total - discount)*100)%>"
            data-name="UOW Booking"
            data-description="<%= event.name%>"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code=true
            data-email="<%=user.email%>"
            data-currency="AUD"
            data-panel-label="Process Payment"
            data-label="Confirm"
            data-allow-remember-me=true>
        </script>
    <%}%>
</form>
<a href="/event/<%=event.id%>" ><button type="button">Back</button></a>
<%-include ../foot%>
