Event: <a href="/event/<%=event.id%>"><%= event.name%></a> <br>
Location: <%= event.location%> <br>
Time: <%= event.start_time %> <br>
Total number of tickets: <%= event.Transactions.reduce((total, transaction) => total + transaction.quantity, 0) %> <br>
Total: <%= event.Transactions.reduce((total,transaction) => total + transaction.total, 0) %>