Event: <a href="/event/<%=event.id%>"><%= event.name%></a> <br>
Location: <%= event.location%> <br>
Time: <%= event.time %> <br>
Number of ticket: <%= event.Transaction.quantity %> <br>
Total: <%= event.price*event.Transaction.quantity %>