<%- include ../head%>
<p>Number of ticket: <%= transaction.quantity %></p>
<p>Total: <%= transaction.total %>$</p>
<p>Discount: <%= transaction.discounted %>$</p>
<form action="/booking/<%=transaction.eventId%>/transaction/<%=transaction.id%>/edit" method="post">
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Student Number</th>
    </tr>
    <% for(var i = 0; i < transaction.quantity; i++){%>
        <tr>
        <%var ticket = transaction.Tickets[i]%>
        <input hidden value="<%=ticket.id%>" name="tickets[<%=i%>][id]">
        <td>
            <input value="<%=ticket.name%>" type="text" name="tickets[<%=i%>][name]" disabled="<%=transaction.cancelled%>"
            class="form-control no-border" required>
        </td>
        <td>
            <input value="<%=ticket.email%>" type="email" name="tickets[<%=i%>][email]" disabled="<%=transaction.cancelled%>"
            class="form-control no-border">
        </td>
        <td>
            <input value="<%=ticket.studentNo%>" type="number" name="tickets[<%=i%>][studentNo]"
                   disabled="<%=transaction.cancelled%>" class="form-control no-border">
        </td>
        </tr>
    <%}%>
</table>
    <hr>
    <%if(user.id == transaction.userId && !transaction.cancelled){%>
    <input type="submit" class="btn" value="Save Editing" disable="<%=transaction.cancelled%>">
    <%}%>
    <a href="/event/<%=transaction.eventId%>" ><button class="btn" type="button">View Event</button></a>
</form>
<br>
<%if(user.id == transaction.userId && !transaction.cancelled){%>
    <form action="/booking/<%=transaction.eventId%>/transaction/<%=transaction.id%>/cancel" method="post"
      onsubmit="return confirm('This action can not be undone!\nDo you wish do continue?');">
    <input type="submit" class="btn btn-danger" value="Cancel Booking">
    </form>
<%}%>
<%-include ../foot%>
