<%- include ../head%>

<h2><%= event.name%> By <%= creator.name%></h2>
<img src="<%=event.imageURL%>">
<p>Time: <%= event.start_time %></p>
<p>Location: <%= event.location %></p>
<p>Description: <%= event.description%></p>
<p>Price: $<%= event.price%></p>

<form action="/booking/<%=event.id%>" method="get">
    <select name="count">
        <%for(var i = 1; i <= event.max; i++){%>
        <option value=<%=i%> ><%=i%></option>
        <%}%>
    </select>
    <button type="submit">Submit</button>
</form>
<%-include ../foot%>
