<%- include ../head%>

<h2><%= event.name%> by <%= creator.name%></h2>
<img src="<%=event.imageURL%>"> <br>

<%if(locals.user && user.id == event.userId){%>
<a href="/event/<%=event.id%>/promotion%>"><button class="btn">Manage Promotions</button></a>
<a href="/event/<%=event.id%>/transactions%>"><button class="btn">Manage Transactions</button></a>
<%}%>

<p>Start Time: <%= event.start_time.toLocaleString() %></p>
<p>End Time: <%= event.end_time.toLocaleString() %></p>
<p>Location: <%= event.location %></p>
<p>Description: <%= event.description%></p>
<p>Price: $<%= event.price%></p>

<form action="/booking/<%=event.id%>" method="get">
    <select name="count">
        <%for(var i = 1; i <= event.max; i++){%>
        <option value=<%=i%> ><%=i%></option>
        <%}%>
    </select>
    <button type="submit" class="btn">Submit</button>
</form>
<%if(locals.user && user.id == event.userId){%>
<form action="/event/<%=event.id%>/cancel" method="post" class="form-inline">
    <input type="submit" value="Cancel Event" class="btn btn-danger">
</form>
<%}%>

<%-include ../foot%>
