<%- include ../head%>
Total ticket booked: <%=total%>/<%=max%> <br>
Total money received: <%=fund%> <br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Number of ticket</th>
        <th scope="col">Price</th>
        <th scope="col">Discounted</th>
        <th scope="col">Promotion Code</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <%transactions.forEach(transaction => {%>
    <tr>
       <td><%=transaction.createdAt.toLocaleString()%></td>
       <td><%=transaction.quantity%></td>
       <td><%=transaction.total.toFixed(2)%></td>
       <td><%=transaction.discounted.toFixed(2)%></td>
       <td><%=transaction.promotionCode%></td>
       <td><%=transaction.cancelled?"Cancelled":""%></td>
    </tr>
    <%})%>
    </tbody>
</table>
<a href="/event/<%=event.id%>" ><button type="button" class="btn">Back</button></a>

<%-include ../foot%>
